
.all-card-list{
    height: 2rem;
    background: -webkit-linear-gradient(left, #3ad2dc , #5e88e5); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #3ad2dc , #5e88e5); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #3ad2dc , #5e88e5); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #3ad2dc , #5e88e5); /* 标准的语法 */

    .card-item{
        height: 100%;
        width: 25%;
        margin: 0;
        position: relative;
        img{
            display:block;
            width:.92rem;
            height:.92rem;
            margin:.32rem auto 0 auto;
        }

        .label{
            color: #fff;
            text-align: center;
            margin-top: .12rem;
        }

        .arrow{
            width:0;
            height:0;
            border-style:none solid solid solid;
            border-width:.16rem;
            border-color:transparent transparent #fff transparent;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -.16rem;
        }
    }
}