.bg { background: #EEEEEE;}


.vipcenter { padding: 0px;}
.vipcenter .vipheader { padding: 1em; height: 165px; background: url(../img/hbg.png); background-size: cover;}
.vipcenter .vipheader .touxiang { width: 72px; height: 72px; margin: 0px auto; border-radius: 100%; border: 2px solid #fff;}
.vipcenter .vipheader .touxiang img { border-radius: 100%; width: 100%;}
.vipcenter .vipheader .name { font-size: 1.4em; text-align: center; color: #fff; line-height: 2em;}
.vipcenter .vipheader .gztt { font-size: 1em; text-align: center; color: #fff;}

.vipcenter .vipul { background: #fff; padding: 0px; margin: 0px; border:1px solid #ccc; border-width: 1px 0;}
.vipcenter .vipul li { padding: 0px 0px; overflow: auto; border-bottom:1px solid #ccc; position: relative;}
.vipcenter .vipul li:last-child { border: 0px;}
.vipcenter .vipul li a { color: #666; display:block; padding: 15px 10px; height: 50px; position: relative;  width: 100%;}
.vipcenter .vipul li .rizi { position: absolute; right: 10px;}
.vipcenter .vipul li .lvzi { color: #00B285;}
.vipcenter .vipul li .redzi { color: red;}
.vipcenter .vipul li .lzz { float: left;}
.vipcenter .vipul li .icc { float: left; padding-right: 1em; display: block;}
.vipcenter .vipul li:nth-child(10n+1) .icc { color: #00B285;}
.vipcenter .vipul li:nth-child(10n+2) .icc { color: #00A1DF;}
.vipcenter .vipul li:nth-child(10n+3) .icc { color: #FF8000;}
.vipcenter .vipul li:nth-child(10n+4) .icc { color: #FF4D4D;}
.vipcenter .vipul li:nth-child(10n+5) .icc { color: #00468C;}
