html {
	font-family: "Helvetica Neue",Helvetica,"Microsoft YaHei",STHeiTi,sans-serif;
	font-size: 10px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased
}

body {
	font-size: 1.2rem;
	margin: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display: block
}

audio,canvas,progress,video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}[hidden],template {
	display: none
}

a {
	background-color: transparent;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

a:active,a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,strong {
	font-weight: bold
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2.2rem;
	margin: .67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: .8rem
}

sub,sup {
	font-size: .7rem;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

img {
	border: 0 none
}

figure {
	margin: 1em 40px
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code,kbd,pre,samp {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	font-size: 1rem
}

button,input,optgroup,select,textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,select {
	text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0 none;
	padding: 0
}

input {
	line-height: normal;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	border: 0 none;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: bold
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,th {
	padding: 0
}

body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	padding: 0;
	margin: 0
}

a {
	text-decoration: none
}

ul,li {
	list-style: none
}

.show {
	display: block
}

body {
	font-family: PingFangSC-Regular,"Segoe UI","Helvetica Neue",Helvetica,"Microsoft YaHei",STHeiTi,SimHei,Arial,sans-serif;
	line-height: 1;

}

#wrap {
	overflow: hidden
}

.left {
	float: left
}

.right {
	float: right
}

.interval {
	background: #f5f8fa
}

.content {
	width: 1000px;
	margin: 0 auto;
	*zoom: 1;
	box-sizing: border-box
}

.content:before,.content:after {
	content: " ";
	display: table
}

.content:after {
	clear: both
}

.content:before,.content:after {
	content: '';
	display: block;
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both
}

.content h1,.content h2,.content h3,.content h4,.content h5,.content h6 {
	font-weight: normal
}

.top_nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 80px;
	padding: 20px 0;
	z-index: 100;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: 0 0 6px 0 rgba(7,0,2,0.3)
}

.top_nav .home {
	display: block;
	width: 140px;
	height: 40px;
	float: left;
	background-image: url("https://static-s.styd.cn/201611171330/index_logo_01.png");
	background-position: 0 -40px;
	background-repeat: no-repeat;
	background-size: 140px;
	text-indent: -9999px
}

.top_nav .nav_list {
	float: right;
	margin-right: 20px
}

.top_nav .nav_list li {
	float: left;
	padding: 0 15px;
	height: 40px
}

.top_nav .nav_list li a {
	display: block;
	line-height: 40px;
	font-size: 16px;
	color: #191919
}

.top_nav .nav_list li a:hover,.top_nav .nav_list li a.current {
	color: #10a8ee
}

.top_nav .nav_list li a.current {
	font-weight: bold
}

.top_nav .register {
	display: block;
	width: 110px;
	height: 40px;
	float: right;
	background: #10a8ee;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	transition: background-color 300ms ease-out
}

.top_nav .register:hover {
	background: #0094d9
}

.top_nav.transparent {
	box-shadow: none;
	background-color: transparent
}

.top_nav.transparent .home {
	background-position: 0 0
}

.top_nav.transparent .nav_list li a {
	color: #fff
}

.top_nav.transparent .nav_list li a:hover,.top_nav.transparent .nav_list li a.current {
	color: #10a8ee
}

.foot_nav {
	overflow: hidden;
	background: #1b2028;
	height: 260px
}

.foot_nav .content {
	position: relative;
	padding-left: 43px
}

.foot_nav .nav_list {
	*zoom: 1;
	margin: 26px 0 56px
}

.foot_nav .nav_list:before,.foot_nav .nav_list:after {
	content: " ";
	display: table
}

.foot_nav .nav_list:after {
	clear: both
}

.foot_nav .nav_list:before,.foot_nav .nav_list:after {
	content: '';
	display: block;
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both
}

.foot_nav .nav_list li {
	float: left;
	padding-right: 30px;
	height: 20px
}

.foot_nav .nav_list li a {
	display: block;
	line-height: 20px;
	font-size: 16px;
	color: #10a8ee
}

.foot_nav .contact_us {
	*zoom: 1;
	width: 260px;
	margin-bottom: 38px
}

.foot_nav .contact_us:before,.foot_nav .contact_us:after {
	content: " ";
	display: table
}

.foot_nav .contact_us:after {
	clear: both
}

.foot_nav .contact_us:before,.foot_nav .contact_us:after {
	content: '';
	display: block;
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both
}

.foot_nav .contact_us dt {
	float: left;
	font-size: 16px;
	padding-top: 6px;
	color: #586470;
	margin-bottom: 14px;
	line-height: 1
}

.foot_nav .contact_us dd {
	float: left;
	font-size: 24px;
	color: #586470;
	margin-bottom: 14px;
	line-height: 1
}

.foot_nav .copyright {
	font-size: 14px;
	color: #586470
}

.foot_nav .qrcode {
	position: absolute;
	right: 58px;
	top: 56px
}

.foot_nav .qrcode img {
	display: block;
	width: 120px;
	height: 120px;
	margin-bottom: 14px
}

.foot_nav .qrcode p {
	width: 120px;
	font-size: 16px;
	color: #586470;
	text-align: center
}

.online_help {
	position: fixed;
	right: 20px;
	top: 50%;
	min-height: 234px;
	z-index: 9;
	padding-bottom: 48px;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	box-sizing: initial
}

.online_help .online_contact {
	background: #10a8ee;
	padding: 12px 0 16px;
	border-radius: 4px
}

.online_help .online_contact .qrcode {
	display: block;
	width: 96px;
	height: 96px;
	margin: 0 12px 18px
}

.online_help .online_contact .phone_title {
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 0
}

.online_help .online_contact .phone_title::before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 18px;
	margin: 0 6px 0 12px;
	background: url("../../img/www/v2/common_icon_onlinehelp.png?ver=1464938052") left top no-repeat;
	background-position: 0 0;
	vertical-align: text-bottom
}

.online_help .online_contact .phone_num {
	text-align: center;
	margin: 5px 0 11px;
	color: #fff;
	font: bold 16px/20px Arial,sans-serif
}

.online_help .online_contact .help_me {
	display: block;
	width: 96px;
	height: 28px;
	background: #fff;
	color: #10a8ee;
	font-size: 12px;
	line-height: 28px;
	text-align: center;
	margin: 0 auto
}

.online_help .online_contact .close_contact {
	text-indent: -9999px;
	display: block;
	position: absolute;
	right: -11px;
	top: -11px;
	width: 9px;
	height: 9px;
	background: url("../../img/www/v2/common_icon_onlinehelp.png?ver=1464938052") left top no-repeat;
	background-position: 0 -54px
}

.online_help .back_top {
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
	width: 48px;
	height: 48px;
	font-size: 0;
	background: #fff;
	color: #fff;
	border: 1px solid #dadada;
	box-sizing: border-box
}

.online_help .back_top::after {
	content: "";
	display: block;
	width: 18px;
	height: 20px;
	margin: 13px 0 0 14px;
	background: url("../../img/www/v2/common_icon_onlinehelp.png?ver=1464938052") left top no-repeat;
	background-position: 0 -26px
}

html,body {
	height: 100%
}

body {
	background: #fff
}

input:-webkit-autofill,textarea:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset
}

.no-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none
}

.clear {
	display: block;
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both
}

.clearfix {
	*zoom: 1
}

.clearfix:before,.clearfix:after {
	content: '';
	display: block;
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both
}

.wrap {
	min-height: 100%;
	height: auto;
	margin-bottom: -50px;
	position: relative
}

.banner_20161124 {
	display: block;
	height: 38px;
	background: url("https://static-s.styd.cn/201611241833/top_img_20161124_01.png") top center no-repeat;
	background-size: cover
}

.top_nav {
	position: relative
}

.user_footer {
	clear: both;
	padding: 40px 15px;
	font-size: 14px;
	color: #b3b3b3;
	text-align: center
}

.user_footer a {
	color: #1898ed
}

.reg_wrap {
	background: #efefef;
	padding: 50px 0 50px
}

.reg_wrap .inner {
	width: 950px;
	margin: 0 auto
}

.version_des {
	width: 470px;
	float: left;
	background: #f4f4f4
}

.version_des .each {
	padding: 50px 35px;
	position: relative;
	border: 1px solid transparent;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none
}

.version_des .each p {
	font-size: 14px;
	line-height: 1.8;
	color: #666
}

.version_des .each .arrow_r {
	position: absolute;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	right: -24px;
	top: 50%;
	margin-top: -6px;
	display: none;
	border: 12px solid;
	border-color: transparent transparent transparent #dedede
}

.version_des .each .arrow_r i {
	position: absolute;
	right: -9px;
	top: -11px;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border: 11px solid;
	border-color: transparent transparent transparent #fff
}

.version_des .current {
	background: #fff;
	border-color: #dedede
}

.version_des .current .arrow_r {
	display: block
}

.version_des h2 {
	font-size: 18px;
	font-weight: normal;
	color: #333;
	margin-bottom: 15px
}

.reg_box {
	width: 410px;
	margin: 0 auto;
	float: right;
	overflow: hidden
}

.reg_box h3 {
	font-size: 20px;
	font-weight: normal;
	color: #545454;
	text-align: center;
	margin-bottom: 30px
}

.reg_box .tips {
	font-size: 14px;
	color: #333;
	padding-left: 100px;
	margin-bottom: 30px
}

.reg_box .user_input li {
	width: 410px;
	height: 40px;
	margin-bottom: 20px;
	overflow: hidden
}

.reg_box .user_input li .label_box {
	display: block;
	width: 95px;
	height: 40px;
	float: left;
	font-size: 14px;
	color: #333;
	line-height: 40px;
	text-align: right;
	padding-right: 5px
}

.reg_box .user_input li .label_box b {
	color: #ff5a00;
	font-weight: normal
}

.reg_box .user_input li .input_box {
	display: block;
	float: left;
	width: 388px;
	height: 18px;
	padding: 10px;
	border: 1px solid #dcdddf;
	line-height: 18px;
	font-size: 14px;
	color: #333;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0
}

.reg_box .user_input li .select_box {
	margin-bottom: 20px;
	width: 440px;
	height: 40px;
	float: left
}

.reg_box .user_input li .select_box select {
	display: block;
	float: left;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #fff;
	border-radius: 0;
	background-image: url("../../img/www/arrow_select.png");
	background-position: 85px center;
	background-repeat: no-repeat;
	border: 1px solid #dcdddf;
	line-height: 18px;
	font-size: 14px;
	color: #333;
	padding: 0 10px;
	width: 101px;
	height: 38px;
	cursor: pointer
}

.reg_box .user_input li .select_box select.full_width {
	width: 410px;
	background-position: 394px center
}

.reg_box .user_input li .select_box i {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	font-size: 14px;
	color: #333;
	line-height: 40px;
	font-style: normal;
	text-indent: 10px
}

.reg_box .user_input li .captcha_box {
	float: left;
	width: 406px;
	height: 36px;
	padding: 1px;
	background: #fff;
	border: 1px solid #dcdddf
}

.reg_box .user_input li .captcha_box .input_captcha {
	display: block;
	float: left;
	padding: 10px 0 10px 9px;
	width: 270px;
	height: 16px;
	border: 0 none;
	line-height: 16px;
	font-size: 14px;
	color: #333;
	-webkit-appearance: none;
	-moz-appearance: none
}

.reg_box .user_input li .captcha_box .btn_captcha {
	display: block;
	float: right;
	width: 110px;
	height: 36px;
	background: #d7d8da;
	font-size: 14px;
	color: #373737;
	text-align: center;
	line-height: 36px
}

.reg_box .user_input li .captcha_box .btn_captcha.secondary {
	background: #d3d3d3
}

.reg_box .user_input li .captcha_box .btn_captcha:hover {
	background: #545454;
	color: #fff
}

.reg_box .user_button {
	margin: 0 auto
}

.user_box {
	width: 330px;
	margin: 0 auto;
	padding: 70px 0 50px
}

.user_box h2 {
	display: block;
	width: 160px;
	height: 50px;
	margin: 0 auto 50px;
	text-indent: -9999px;
	background: url("../../img/icon_new.png?ver=1464938052") top left no-repeat;
	background-position: 0 -100px
}

.user_box .user_input {
	padding-bottom: 20px
}

.user_box .user_input li {
	width: 314px;
	height: 36px;
	background: #fff;
	margin-bottom: 20px;
	padding: 1px 1px 1px 13px;
	border: 1px solid #dcdddf
}

.user_box .user_input li .label_box {
	display: block;
	float: left;
	width: 22px;
	height: 22px;
	margin: 7px 20px 0 0;
	text-indent: -9999px
}

.user_box .user_input li .label_box.user_name {
	background: url("../../img/icon_new.png?ver=1464938052") top left no-repeat;
	background-position: -100px -200px
}

.user_box .user_input li .label_box.user_name.on {
	background-position: -100px -250px
}

.user_box .user_input li .label_box.user_mobile {
	background: url("../../img/icon_new.png?ver=1464938052") top left no-repeat;
	background-position: -200px -200px
}

.user_box .user_input li .label_box.user_mobile.on {
	background-position: -200px -250px
}

.user_box .user_input li .label_box.user_captcha {
	background: url("../../img/icon_new.png?ver=1464938052") top left no-repeat;
	background-position: 0 -200px
}

.user_box .user_input li .label_box.user_captcha.on {
	background-position: 0 -250px
}

.user_box .user_input li .label_box.user_brand {
	background: url("../../img/icon_new.png?ver=1464938052") top left no-repeat;
	background-position: -300px -200px
}

.user_box .user_input li .label_box.user_brand.on {
	background-position: -300px -250px
}

.user_box .user_input li .label_box.user_password {
	background: url("../../img/icon_new.png?ver=1464938052") top left no-repeat;
	background-position: -400px -200px
}

.user_box .user_input li .label_box.user_password.on {
	background-position: -400px -250px
}

.user_box .user_input li .input_box {
	display: block;
	float: left;
	background: #fff;
	font-size: 12px;
	color: #3e3835;
	line-height: 22px;
	padding: 0;
	margin: 7px 0 0;
	border: 0;
	-webkit-appearance: none
}

.user_box .user_input li .input_box:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fff inset;
	-webkit-text-fill-color: #3e3835
}

.user_box .user_input li .input_box.input_name,.user_box .user_input li .input_box.input_brand,.user_box .user_input li .input_box.input_password {
	width: 250px;
	height: 22px
}

.user_box .user_input li .input_box.input_captcha {
	width: 150px;
	height: 22px
}

.user_box .user_input li .btn_captcha {
	display: block;
	float: right;
	width: 110px;
	height: 36px;
	background: #d7d8da;
	font-size: 14px;
	color: #373737;
	text-align: center;
	line-height: 36px
}

.user_box .user_input li .btn_captcha.secondary {
	background: #d3d3d3
}

.user_box .user_input li .btn_captcha:hover {
	background: #545454;
	color: #fff
}

.user_box .user_input.pd-0 {
	padding-bottom: 0
}

.user_more {
	padding-bottom: 40px
}

.user_more a {
	font-size: 14px;
	color: #a4a4a4
}

.user_more a:hover {
	color: #373737;
	text-decoration: underline
}

.user_button {
	display: block;
	margin: 0 auto;
	width: 330px;
	height: 40px
}

.user_button .btn_submit {
	display: block;
	width: 100%;
	height: 100%;
	background: #545454;
	color: #fff;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
	transition: background-color 300ms ease-out
}

.user_button .btn_submit:hover {
	background: #1898ed
}

.submit_des {
	font-size: 14px;
	color: #666;
	text-align: center;
	margin-top: 20px
}

.activity_box {
	padding: 10px 20px;
	margin-bottom: 25px;
	background: #eee;
	border: solid 1px #c6c6c6;
	color: red;
	font-size: 14px
}

.activity_info {
	padding: 10px 0 10px 20px;
	font-size: 14px;
	text-indent: 2em
}

.activity_info .title {
	text-indent: 0
}

.bonus_tips {
	width: 390px;
	padding: 8px 10px;
	font-size: 12px;
	color: #373737;
	background: #d7d8da;
	line-height: 1.4;
	margin-bottom: 20px
}